body {
  text-align: center;
  background-color: #fadbdb;
  margin: 50px;
}

p {
  font-family: "roboto";
  font-weight: 400;
  font-size: xx-large;
  color: hsla(300, 6%, 26%, 0.945);
}

h1 {
  font-family: "roboto";
  font-size: 42px;
}

a {
  font-family: "roboto";
  color: #7b1d0a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
